
<div class="container">
  <header class="header">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <span>Welcome to {{ title }}!</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <menu class="menu">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </menu>
  <content class="content">
    <router-outlet></router-outlet>
    <mindWeave-homepage height="100%" width="100%"></mindWeave-homepage>
  </content>
  <footer class="footer">
    <mat-toolbar color="primary">
      <span> 2025 Dylan Regan - MindWeave </span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>mail</mat-icon>
      </button>
    </mat-toolbar>
  </footer>
</div>



