
<div class="container">
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <span>Welcome to {{ title }}!</span>
    <span class="spacer"></span>
    <span>
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </span>
  </mat-toolbar>


  <p>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </p>

  <p>
    <mat-icon color="primary">favorite</mat-icon>
    <span>Favorite Item</span>
  </p>
  <mat-toolbar>
    Dylan Regan
    <button mat-icon-button>
      <mat-icon>mail</mat-icon>
    </button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>